In [1]:
import pandas as pd
# pd.set_option('max_colwidth', 50)
# set this if you need to

The Health Department has developed an inspection report and scoring system. 
After conducting an inspection of the facility, the Health Inspector calculates a score based on the violations observed. 
Violations can fall into:
- **high risk category**: records specific violations that directly relate to the transmission of food borne illnesses,the adulteration of food products and the contamination of food-contact surfaces.
- **moderate risk category**: records specific violations that are of a moderate risk to the public health and safety.
- **low risk category**: records violations that are low risk or have no immediate risk to the public health and safety.

In [2]:
businesses = pd.read_csv('./data/businesses_plus.csv', parse_dates=True, dtype={'phone_number': str})
businesses.head(1)
# dtype casts the column as a specific data type

,business_id,name,address,city,postal_code,latitude,longitude,phone_number,TaxCode,business_certificate,application_date,owner_name,owner_address,owner_city,owner_state,owner_zip
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,NaN,Tiramisu LLC,33 Belden St,San Francisco,CA,94104

In [3]:
inspections = pd.read_csv('./data/inspections_plus.csv', parse_dates=True)
inspections.head()

   business_id  Score      date                   type
0           10    NaN  20140807  Reinspection/Followup
1           10   94.0  20140729  Routine - Unscheduled
2           10    NaN  20140124  Reinspection/Followup
3           10   92.0  20140114  Routine - Unscheduled
4           19   94.0  20141110  Routine - Unscheduled

In [4]:
violations = pd.read_csv('./data/violations_plus.csv', parse_dates=True)
violations.head()

,business_id,date,ViolationTypeID,risk_category,description
0,10,20140114,103154,Low Risk,Unclean or degraded floors walls or ceilings
1,10,20140114,103119,Moderate Risk,Inadequate and inaccessible handwashing facili...
2,10,20140114,103145,Low Risk,Improper storage of equipment utensils or linens
3,10,20140729,103129,Moderate Risk,Insufficient hot water or running water
4,10,20140729,103144,Low Risk,Unapproved or unmaintained equipment or utensils

In [27]:
# 1 Combine the three dataframes into one data frame called restaurant_scores
# Hint: http://pandas.pydata.org/pandas-docs/stable/merging.html

restaurant_scores_draft = pd.merge(businesses, inspections, on='business_id', how='inner')
restaurant_scores = pd.merge(restaurant_scores_draft, violations, on='business_id', how='inner')
restaurant_scores.head()

,business_id,name,address,city,postal_code,latitude,longitude,phone_number,TaxCode,business_certificate,...,owner_city,owner_state,owner_zip,Score,date_x,type,date_y,ViolationTypeID,risk_category,description
0,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,...,San Francisco,CA,94104,NaN,20140807,Reinspection/Followup,20140114,103154,Low Risk,Unclean or degraded floors walls or ceilings
1,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,...,San Francisco,CA,94104,NaN,20140807,Reinspection/Followup,20140114,103119,Moderate Risk,Inadequate and inaccessible handwashing facili...
2,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,...,San Francisco,CA,94104,NaN,20140807,Reinspection/Followup,20140114,103145,Low Risk,Improper storage of equipment utensils or linens
3,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,...,San Francisco,CA,94104,NaN,20140807,Reinspection/Followup,20140729,103129,Moderate Risk,Insufficient hot water or running water
4,10,Tiramisu Kitchen,033 Belden Pl,San Francisco,94104,37.791116,-122.403816,NaN,H24,779059.0,...,San Francisco,CA,94104,NaN,20140807,Reinspection/Followup,20140729,103144,Low Risk,Unapproved or unmaintained equipment or utensils

In [26]:
len(restaurant_scores.columns)

23

In [41]:
restaurant_scores.groupby(['business_id'])
restaurant_scores.date_y.value_counts()

20140603    985
20140514    982
20140206    965
20140204    953
20140410    922
20140227    816
20140416    806
20130416    795
20140611    791
20150112    784
20140402    778
20131030    758
20160329    751
20140520    733
20141021    727
20130424    722
20140602    718
20130916    701
20140408    698
20140327    695
20141113    690
20140610    685
20160222    684
20140507    681
20140917    677
20140617    674
20140527    672
20140806    670
20140604    670
20140909    664
           ...
20160218     26
20160115     25
20151128     25
20130705     24
20131224     24
20140607     24
20130518     22
20150415     21
20131013     20
20150725     18
20140628     15
20140517     15
20150724     15
20140301     15
20140426     14
20141218     12
20150702     11
20140614     11
20150920     10
20130907     10
20131110      9
20160116      8
20140322      7
20131214      7
20151205      6
20151010      6
20160305      4
20150502      4
20160227      4
20131116      3
Name: date_y, dtype: int64

In [28]:
# 2 Which ten business have had the most inspections?
newframe=pd.DataFrame(restaurant_scores.business_id.value_counts(ascending=False)).reset_index()
newframe.head()

   index  business_id
0  71385          736
1    489          684
2  64176          646
3  67154          570
4  65523          544

In [30]:
# 3 Group and count the inspections by type
newframe1 = pd.DataFrame(restaurant_scores.type.value_counts(ascending=False)).reset_index()
newframe1.rename(columns={'index': 'insp_type','type':'count'}, inplace=True)
newframe1.head()

                   insp_type   count
0      Routine - Unscheduled  128015
1      Reinspection/Followup   67793
2                  Complaint   18157
3              New Ownership    8646
4  Non-inspection site visit    7683

In [33]:
# 4 Create a plot that shows number of inspections per month
# Bonus for creating a heatmap
# http://stanford.edu/~mwaskom/software/seaborn/generated/seaborn.heatmap.html?highlight=heatmap

import numpy as np
import matplotlib.pyplot as plt
restaurant_scores.plot(x='date_y', y='business_id', kind='scatter', alpha=0.3)

In [ ]:
# 5 Which zip code contains the most high risk violations?

In [ ]:
# 6 If inspection is prompted by a change in restaurant ownership, 
# is the inspection more likely to be categorized as higher or lower risk?

In [ ]:
# 7 Examining the descriptions, what is the most common violation?

In [ ]:
# 8 Create a hist of the scores with 10 bins

In [ ]:
# 9 Can you predict risk category based on the other features in this dataset?

In [ ]:
# 10 Extra Credit:
# Use Instagram location API to find pictures taken at the lat, long of the most High Risk restaurant
# https://www.instagram.com/developer/endpoints/locations/

In [ ]:
############################
### A Little More Morbid ###
############################

In [ ]:
killings = pd.read_csv('./data/police-killings.csv')
killings.head()

In [ ]:
# 1. Make the following changed to column names:
# lawenforcementagency -> agency
# raceethnicity        -> race

In [ ]:
# 2. Show the count of missing values in each column

In [ ]:
# 3. replace each null value in the dataframe with the string "Unknown"

In [ ]:
# 4. How many killings were there so far in 2015?

In [ ]:
# 5. Of all killings, how many were male and how many female?

In [ ]:
# 6. How many killings were of unarmed people?

In [ ]:
# 7. What percentage of all killings were unarmed?

In [ ]:
# 8. What are the 5 states with the most killings?

In [ ]:
# 9. Show a value counts of deaths for each race

In [ ]:
# 10. Display a histogram of ages of all killings

In [ ]:
# 11. Show 6 histograms of ages by race

In [ ]:
# 12. What is the average age of death by race?

In [ ]:
# 13. Show a bar chart with counts of deaths every month

In [ ]:
###################
### Less Morbid ###
###################

In [ ]:
majors = pd.read_csv('./data/college-majors.csv')
majors.head()

In [ ]:
# 1. Delete the columns (employed_full_time_year_round, major_code)

In [ ]:
# 2. Show the cout of missing values in each column

In [ ]:
# 3. What are the top 10 highest paying majors?

In [ ]:
# 4. Plot the data from the last question in a bar chart, include proper title, and labels!

In [ ]:
# 5. What is the average median salary for each major category?

In [ ]:
# 6. Show only the top 5 paying major categories

In [ ]:
# 7. Plot a histogram of the distribution of median salaries

In [ ]:
# 8. Plot a histogram of the distribution of median salaries by major category

In [ ]:
# 9. What are the top 10 most UNemployed majors?

In [ ]:
# What are the unemployment rates?

In [ ]:
# 10. What are the top 10 most UNemployed majors CATEGORIES? Use the mean for each category
# What are the unemployment rates?

In [ ]:
# 11. the total and employed column refer to the people that were surveyed.
# Create a new column showing the emlpoyment rate of the people surveyed for each major
# call it "sample_employment_rate"
# Example the first row has total: 128148 and employed: 90245. it's 
# sample_employment_rate should be 90245.0 / 128148.0 = .7042

In [ ]:
# 12. Create a "sample_unemployment_rate" column
# this column should be 1 - "sample_employment_rate"