In [3]:
import pandas as pd
titanic = pd.read_csv('../data/titanic.csv')
# 1. Read `titanic.csv` into a DataFrame.
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
# 2. What is the null accuracy rate for predicting survival? (This means the probability of choosing the largest unique category, either survived or not)
titanic['Survived'].value_counts() / titanic.shape[0]
# 0.616162

0    0.616162
1    0.383838
Name: Survived, dtype: float64

In [ ]:
# 3. Can you think of some variables that are in the dataset that might contribute to predicting survival of the crash?

In [5]:
# 4. Define Pclass and Parch as the features, and Survived as the response.
feature_cols = ['Pclass', 'Parch']
X = titanic[feature_cols]
y = titanic.Survived

In [14]:
# 5. Split the data into training and testing sets. (Hint: use the train test split modules from sklearn)
from sklearn.linear_model import LogisticRegression
from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y)
train_X.head()

466    0
707    1
613    0
739    0
512    1
Name: Survived, dtype: int64

In [22]:
# 6. Fit a logistic regression model and examine the coefficients to confirm that they make intuitive sense.
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
pd.DataFrame(zip(X.columns, logreg.coef_[0]))

        0         1
0  Pclass -0.815161
1   Parch  0.243198

In [23]:
# 7. Make predictions on the testing set and calculate the accuracy.
logreg.score(X_test, y_test)

0.69506726457399104